.leftNavbarComponent{
    ul {
        li {
            list-style-type: none;
            a {
                background-color: #2D325A;
                color: #fff;
                width: 264px;
                height: 100px;
                display: inline-block;
                text-align: center;
                text-decoration: none;
                font-size: 34px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                display: table-cell;
                vertical-align: middle;

                &.active, &.router-link-active {
                    background-color: #7033FF;
                }
            }
        }
    }
}