
<section class="leftNavbarComponent col-3 d-none d-lg-block d-xl-block">
    <ul>
      <li class="mb-3" v-for="(item, index) in data">
          <router-link  :to="item.url">
                {{item.title}}
          </router-link>
      </li>
      
    </ul>
</section>

