.header-component {
    .navbar {
        .nav-left{
            a {
                display: inline-block;

                @media screen and (max-width: 767px) {
                    width: 120px;
                    margin: 0 auto;
                    display: block;
                    margin-bottom: 13px;
                }
            }

        }
        .nav-right{
            overflow: hidden;
            img {
                min-width: 544px;
                width: 100%;
            }
            .back-btn {
                div.back {
                    background: #2D325A;
                    border-radius: 10px;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                    background: #2D325A;
                }
                p {
                    vertical-align: middle;
                    margin: auto;
                }
            }
        }
    }
}