
<section class="header-component mb-4 ">
    <nav class="navbar navbar-light">
       <div class="col col-xs-12 col-md-3 nav-left">
          <router-link to="/" class="d-lg-none ">
          <img src="../../assets/Group4.png" class="img-fluid logo" alt="">
        </router-link>
       </div>
        <div class="col-xs-12 col-md-9 nav-right">
          <div class="row back-btn">
              <div class="col-4 col-lg-1 back">
                  <router-link to="/" class="h-100 d-flex ">
                    <p>
                      < Back
                    </p>
                  </router-link>
              </div>
              <div class="col-7 col-lg-11">
                  <img src="../../assets/logoR.png" class="img-fluid " alt="">
              </div>
          </div>
        </div>
      </nav>
</section>

