
<section class="customer-service col-lg-9 col-md-12 float-right">
    <p>Customer Service > Specific</p>
    <div class="row mt-5">

        <div class="col-xl-9 col-lg-12 col-xs-12">
            <div class="customers-info">
                <div class="row">
                    <div v-for="(item, index) in data" class="col col-lg-6 mb-5">
                        
                        <div class="customer rounded col-12">
                            <div class="row">
                                    <div class="col-5">
                                            <img :src="item.imgUrl"  class="img-fluid"/>
                                    </div>
                                    <div class="col-7">
                                        <h2>
                                              {{item.title}}
                                        </h2>
                                    </div>
                            </div>
                        </div>
                        <div class="customer-ratting rounded ">
                                <div class="vue-ratting row">
                                        <star-rating 
                                        :show-rating="false"
                                        inactive-color="#373C66"
                                        border-color="#fff"	
                                        :border-width="borderWidth"
                                        active-color="#FFDC64"
                                        :rating="item.ratting"
                                        >
                                      </star-rating>
                                </div>
                        </div>
                    </div>
                    <!-- <div class="col">
                            <div class="customer rounded col-12">
                                <div class="row">
                                        <div class="col-5">
                                                <img src="../../assets/Ell2.png"  class="img-fluid"/>
                                        </div>
                                        <div class="col-7">
                                            <h2>
                                                    Follow Up
                                            </h2>
                                        </div>
                                </div>
                            </div>
                            <div class="customer-ratting rounded ">
                                    <div class="vue-ratting row">
                                            <star-rating 
                                            :show-rating="false"
                                            inactive-color="#373C66"
                                            border-color="#fff"	
                                            :border-width="borderWidth"
                                            active-color="#FFDC64"
                                            >
                                          </star-rating>
                                    </div>
                            </div>
                        </div> -->
                    
                </div>
                <div class="row">
                    <div class="col-12 ">
                        <div class="col mt-5 rounded bg-card mb-3">
                                <div class="row  mb-4">
                                        <div class="col-4 img-section">
                                                <img src="../../assets/Ell2.png"  class="img-fluid"/>
                                        </div>
                                        <div class="col text-section">
                                            <h2>
                                                    Rahma Fathy
                                            </h2>
                                        </div>
                                        <div class="col-1 react-love">
                                            <vue-star animate="animated bounceIn" color="#F05654">
                                                <i slot="icon" class="fa fa-heart" style="font-size: 30px;"></i>
                                            </vue-star>
                                        </div>
                                </div>
                                <div class="row rounded card-ratting">
                                    <div class="col">
                                        <div class="head">
                                                <div class="attitude col-12">
                                                        attitude
                                               </div>
                                               <div class="vue-ratting row">
                                                    <star-rating 
                                                    :show-rating="false"
                                                    inactive-color="#373C66"
                                                    border-color="#fff"	
                                                    :border-width="borderWidth"
                                                    active-color="#FFDC64"
                                                    >
                                                  </star-rating>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-xs-12" style="min-height: 10px;"></div>
                                    <div class="col">
                                            <div class="head">
                                                    <div class="attitude col-12">
                                                            Training
                                                   </div>
                                                   <div class="vue-ratting row">
                                                        <star-rating 
                                                        :show-rating="false"
                                                        inactive-color="#373C66"
                                                        border-color="#fff"	
                                                        :border-width="borderWidth"
                                                        active-color="#FFDC64"
                                                        >
                                                      </star-rating>
                                                </div>
                                            </div>
                                    </div>
                                    <!-- <div class="w-100 head">
                                        <div class="d-inline-block" style="width: 48%">
                                            <div class="attitude  w-100">
                                                        attitude
                                            </div>
                                            
                                        </div>
                                        <div class="d-inline-block" style="width: 4%"></div>
                                        <div class="d-inline-block" style="width: 48%">
                                                <div class="attitude  w-100">
                                                        attitude
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-lg-5 col-md-12">
                                        <div class="vue-ratting row">
                                                <star-rating 
                                                :show-rating="false"
                                                inactive-color="#373C66"
                                                border-color="#fff"	
                                                :border-width="borderWidth"
                                                active-color="#FFDC64"
                                                >
                                              </star-rating>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-lg-2 col-md-12"></div> -->
                                    <!-- <div class="col-lg-5 col-md-12 float-right">
                                            <div class="vue-ratting row">
                                                    <star-rating 
                                                    :show-rating="false"
                                                    inactive-color="#373C66"
                                                    border-color="#fff"	
                                                    :border-width="borderWidth"
                                                    active-color="#FFDC64"
                                                    >
                                                  </star-rating>
                                            </div>
                                    </div> -->
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12 col-xs-12 d-flex flex-column">
                <b-button class="mt-auto" variant="success" size="lg" >Save</b-button>
        </div>
    </div>
</section>

