.customer-service {
    .customers-info {
        .customer {
            height: 130px;
            background-color: #373C66;
            img {
                width: 130px;
                height: auto;
                margin-top: -35px;

            }
            p {
                text-align: center;
            }
            h2 {
                margin-top: 25px;
            }
        }
        .customer-ratting {
            height: 90px;
            background-color: #2D325A;
            .vue-star-rating {
                margin: auto;
                margin-top: 1rem ;
            }
        }
    }
    .bg-card {
        background-color: #373C66;

        .img-section {
            img {
                margin-top: -35px;
            }
        }
        .text-section {
            h2 {
                margin-top: 25px;
            }
        }
        .card-ratting {
            .vue-ratting {
                margin-top: 10px;
                margin-bottom: 15px;
            }
            background-color: #2D325A;
            .vue-star-rating {
                margin: auto;
            }
            .head {
                margin-top: -15px;
            }
            .attitude {
                background: #50557D;
                text-align: center;
                border-radius: 15px;
                padding: 3px;
            }
        }
    }
}