<template>
  <div id="app">
    <headerComponent v-if="!isInnerPages()"/>
    <innerHeaderComponent v-if="isInnerPages()"/>
    <router-view></router-view>
    <leftNavbarComponent v-if="isInnerPages()"/>
  </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import headerComponent from './components/headerComponent/index'
import innerHeaderComponent from './components/innerHeaderComponent/index'
import leftNavbarComponent from './components/leftNavbarComponent/index'
import router from './router/index.js';

export default {
  name: 'App',
  router,
  components: {
    headerComponent,
    leftNavbarComponent,
    innerHeaderComponent
  },
   props:[],
  data () {
    return {
    }
  },
  computed: {

  },
  created(){
  },
  mounted () {
  },
  methods: {
    isInnerPages(){
      if (this.$route.name !== 'home'){
        return true
      }else {
        return false
      }
    }
  }
}
</script>

<style>

#app {
  background-color: #202442;
  font-family: Montserrat;
  color: #fff;
  display: flow-root;
}
.VueStar__ground {
                    width: 46px !important;
                    height: 43px !important;
                    float: right !important;
                    margin: 9px -12px;
                    cursor: pointer;
                }
.VueStar__decoration {
  width: auto;
  height: auto;
}
.VueStar {
  position: relative;
}
</style>
