.home-component {
    .content-row {
        .cover{
            background-color: #2D325A;
            padding-bottom: 10px;
            overflow: hidden;
            min-height: 315px;
            a {
                img {
                    width: 100%;
                    -webkit-transition: all .3s ease; /* Safari and Chrome */
                      -moz-transition: all .3s ease; /* Firefox */
                      -o-transition: all .3s ease; /* IE 9 */
                      -ms-transition: all .3s ease; /* Opera */
                      transition: all .3s ease;
                      position:relative;
                
                      &:hover {
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
                        -moz-transform:scale(1.20); /* Firefox */
                        -ms-transform:scale(1.20); /* IE 9 */
                        -o-transform:translatZ(0) scale(1.20); /* Opera */
                        transform:translatZ(0) scale(1.20);
                    }
                }
            }
            h1 {
                color: #fff;
                text-align: center;
                padding-top: 20px;
            }
        }
    }
}