
<section class="home-component">
    <div class="container-fluid">
        <div class="row">
            <div class="rounded col-lg-3 col-md-6 col-sm-12 mb-3 content-row " v-for="item in data">
               <div class="cover rounded">
                 <!-- {{item}} -->
                 <router-link :to="item.url">
                      <img :src="'../../'+item.imgUrl" class="img-fluid">
                    </router-link>
                    <h1>
                        {{item.title}}
                    </h1>
               </div>
            </div>
        </div>
    </div>
</section>

