
<section class="header-component mb-4">
    <nav class="navbar navbar-light">
       <div class="col col-md-3 nav-left">
          <router-link to="/">
          <img src="../../assets/Group4.png" class="img-fluid logo" alt="">
        </router-link>
       </div>
        <div class="col col-md-9 nav-right">
          <img src="../../assets/logoR.png" class="img-fluid " alt="">
        </div>
      </nav>
</section>

