.header-component {
    .navbar {
        .nav-left{
            a {
                display: inline-block;
            }

        }
        .nav-right{
            overflow: hidden;
            img {
                min-width: 544px;
                width: 100%;
            }
        }
    }
}